$purple-color: rgba(147, 86, 220, 1);
$light-purple: rgba(255, 121, 218, 1);
$dark-blue-color: rgba(0, 58, 104, 1);
$blue-color: rgba(137, 200, 250, 1);
$green-color: rgba(0, 135, 102, 1);
$light-green-color: rgba(153, 226, 208, 1);
$grey-color: rgba(243, 243, 243, 1);


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin shadow($t, $r, $b, $br) {
    filter: drop-shadow($t $r $b darken($grey-color, $br));
}

@mixin linear-gradient {
    background-image: linear-gradient(35deg, $purple-color, $light-purple, $purple-color, $light-purple);
}

@mixin btn {
    height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(181deg, $light-purple 5%, $purple-color, $purple-color, $light-purple);
    color: #F5F5F5;
    border: none;
    padding: 13px 18px;
    font-weight: 500;
    font-size: 16px;
    @include center;
    @include shadow(2px, 2px, 5px, 25%);
    background-size: 500%;
    background-position: right;
    transition: all 1s ease;

    &:hover {
        background-position: left;
        @include shadow(2px, 5px, 3px, 35%);
    }
}

@mixin icon-heart {
    transition: all 0.5s;

    &:hover {
        color: $purple-color;
        font-weight: 700;
    }
}

@mixin loader-parent {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    animation: back-color 4s ease-in;
    animation-iteration-count: 1;

    @keyframes back-color {
        0% {
            background-color: white;
        }

        100% {
            display: none;
            background-color: transparent;
            opacity: 0;
        }
    }
}


@mixin loader {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 3s linear;
    position: absolute;
    z-index: 2;

    @keyframes spin {
        0% {
            opacity: 1;
            transform: rotate(0deg);
            border: 12px solid #f3f3f3;
            border-top: 12px solid #444444;
        }

        50% {
            opacity: 0.5;
            transform: rotate(180deg);
        }

        100% {
            display: none;
            opacity: 0;
            transform: rotate(360deg);
        }
    }
}


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    .loader-parent {
        @include loader-parent;

        #loader {
            @include loader;
        }

        .center {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

header {
    .logo {
        margin: 10px 0;
        @include center;

        img {
            width: 45%;
            margin: 5px;
        }
    }

    .header-location {
        @include center;
        height: 50px;
        background-color: rgba(234, 234, 234, 1);
        @include shadow(0, 4px, 2px, 25%);
        box-shadow: 0 0 10px darken($grey-color, 25%);

        .icon {
            padding-right: 10px;
        }
    }
}


.banner {
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    @include center;

    .banner-info {
        flex-direction: column;
        width: 90%;
        text-align: center;
        gap: 20px;
        @include center;

        .btn {
            @include btn;
        }

        p {
            font-size: 18px;
            font-weight: 300;
        }
    }

}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.fonctionnement {
    padding: 40px 20px;
    text-align: start;

    .fonct-cards {
        @include center;
        flex-direction: column;
        margin: 20px 0;

        .fonc-card {
            @include shadow(2px, 4px, 10px, 15%);
            @include center;
            width: 100%;

            .fon-num {
                position: absolute;
                height: 24px;
                width: 24px;
                border-radius: 25px;
                background-color: $purple-color;
                left: 0;
                color: white;
                font-size: 14px;
                font-weight: 500;
                @include center;
            }

            .fonctionnement_card {
                background-color: $grey-color;
                border-radius: 20px;
                font-weight: 500;
                @include center;
                width: 93%;
                height: 72px;
                margin: 10px 0;


                .fonc-content {
                    display: flex;
                    justify-content: start;
                    width: 80%;
                    gap: 20px;
                }
            }
        }
    }
}

.restaurants {
    background-color: $grey-color;
    padding: 50px 20px;

    .resto_cards {
        margin: 15px 0;

        a {
            @include center;
            margin: 15px 0;
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: 700;
            background-color: white;
            border-radius: 20px;
            @include shadow(0, 4px, 15px, 10);

            .card {
                width: 100%;

                .card-image {
                    width: 100%;
                    height: 210px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                .card-content {
                    @include center;
                    justify-content: space-between;
                    padding: 15px;

                    p {
                        font-size: 17px;
                        font-weight: 300;
                        margin: 5px 0;
                    }
                }

                .icon-heart {
                    position: relative;
                    right: 15px;

                    i {
                        @include icon-heart;

                        .fa-solid {
                            @include icon-heart;

                        }
                    }
                }
            }
        }
    }
}

footer {
    padding: 20px;
    background-color: rgba(53, 53, 53, 1);

    img {
        height: 20%;
        width: 30%;
        padding: 20px 0;
        filter: invert(1);
    }

    a {
        display: flex;
        justify-content: start;
        width: 100%;
        text-decoration: none;
        color: white;
        margin-bottom: 10px;

        .a_footer {
            @include center;
            font-weight: 500;
            gap: 10px;

            .footer-p-icon {
                font-weight: 400;
                font-size: 16px;
            }
        }

        .footer-p {
            font-weight: 300;
        }
    }
}