@use './styles/partials/colors' as c;
@use './styles/partials/media' as m;
@use './styles/partials/mixins' as mix;



* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    min-width: m.$mobile;

    .content {
       @include mix.content;
    }

    .loader {
        @include mix.loader;
    }
}

header {
    .logo {
        margin: 10px 0;
        @include mix.center;

        img {
            width: 45%;
            margin: 5px;
        }
    }

    .header-location {
        @include mix.center;
        height: 50px;
        background-color: rgba(234, 234, 234, 1);
        @include mix.shadow(0, 4px, 2px, 25%);
        box-shadow: 0 0 10px darken(c.$grey-color, 25%);

        .icon {
            padding-right: 10px;
        }
    }
}


.banner {
    width: 100%;
    height: 300px;
    background-color: #F5F5F5;
    @include mix.center;

    .banner-info {
        flex-direction: column;
        width: 90%;
        text-align: center;
        gap: 20px;
        @include mix.center;

        .btn {
            @include mix.btn;
        }

        p {
            font-size: 18px;
            font-weight: 300;
        }
    }

}

h2 {
    font-size: 24px;
    font-weight: 700;
}

.fonctionnement {
    padding: 40px 20px;
    text-align: start;


    @media (min-width: m.$desktop) {
        padding: 40px 85px;
    }

    @media (min-width: m.$fourk) {
        padding: 40px 400px;
    }


    .fonct-cards {
        @include mix.center;
        flex-direction: column;
        margin: 20px 0;

        @media (min-width: m.$desktop) {
            flex-direction: row;
        }


        .fonc-card {
            @include mix.shadow(2px, 4px, 10px, 15%);
            @include mix.center;
            width: 100%;

            .fon-num {
                position: absolute;
                height: 24px;
                width: 24px;
                border-radius: 25px;
                background-color: c.$purple-color;
                left: 0;
                color: white;
                font-size: 14px;
                font-weight: 500;
                @include mix.center;

                @media (min-width: m.$laptop) {
                    left: 14px;
                }

                @media (min-width: m.$desktop) {
                    left: 0;
                }
            }

            .fonctionnement_card {
                background-color: c.$grey-color;
                border-radius: 20px;
                font-weight: 500;
                @include mix.center;
                width: 93%;
                height: 72px;
                margin: 10px 0;


                .fonc-content {
                    display: flex;
                    justify-content: start;
                    width: 80%;
                    gap: 20px;

                    i {
                        @include mix.center;
                        color: c.$purple-color;
                    }

                    p {
                        @media(min-width: m.$mobile) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

.restaurants {
    background-color: c.$grey-color;
    padding: 50px 20px;

    @media (min-width: m.$desktop) {
        padding: 50px 85px;
    }

    @media (min-width: m.$fourk) {
        padding: 40px 400px;
    }


    .resto_cards {
        margin: 15px 0;

        @media (min-width: m.$desktop) {
            width: 100%;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
        }

        article {
            @include mix.center;
            margin: 15px 0;
            background-color: white;
            border-radius: 20px;
            @include mix.shadow(0, 4px, 15px, 10);

            @media (min-width: m.$desktop) {
                width: 47%;
            }

            .card {
                width: 100%;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 18px;
                    font-weight: 700;
                }

                .card-image {
                    width: 100%;
                    height: 210px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }

                .nouveau {
                    position: absolute;
                    background-color: c.$light-green-color;
                    color: c.$green-color;
                    width: 80px;
                    height: 30px;
                    font-size: 14px;
                    font-weight: 500;
                    top: 15px;
                    right: 15px;
                    @include mix.center;
                }

                .card-content {
                    @include mix.center;
                    justify-content: space-between;
                    padding: 15px;
                    width: 85%;

                    @media(max-width: m.$mobile) {
                        width: 80%;
                    }

                    @media(width: m.$laptop) {
                        width: 90%;
                    }

                    @media(min-width: m.$fourk) {
                        width: 90%;
                    }

                    .card-text {
                        p {
                            font-size: 17px;
                            font-weight: 300;
                            margin: 5px 0;
                        }
                    }

                    .icons-heart {
                        i {
                            position: absolute;
                        }

                        .my-heart-full {
                            @include mix.icon-heart-full;
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding: 20px;
    background-color: rgba(53, 53, 53, 1);

    @media (min-width: m.$desktop) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row-reverse;
        padding-top: 40px;
    }

    img {
        height: 30%;
        width: 40%;
        padding-bottom: 16px;
        filter: invert(1);

        @media (min-width: m.$desktop) {
            height: 6%;
            width: 12%;
            padding-left: 80px;
            padding-bottom: 0;

        }
    }

    .a_footers {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media (min-width: m.$desktop) {
            flex-direction: row;
        }

        a {
            text-decoration: none;
            color: white;
            margin-bottom: 10px;

            @media (min-width: m.$desktop) {
                padding: 0 15px;
                margin: 0;
            }

            .a_footer {
                display: flex;
                font-weight: 500;
                gap: 10px;

                .footer-p-icon {
                    font-weight: 400;
                    font-size: 16px;
                }
            }

            .footer-p {
                font-weight: 300;
            }
        }
    }
}